<div class="footer">
    <div class="container">
        <div class="nav-social-media">
            <div class="footer-nav">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item"><a class="footer-nav-a" href="#">首頁</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-a" href="#">系列鏡框</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-a" href="#">門市據點</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-a" href="#">部落格</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-a" href="#">常見問題</a></li>
                </ul>
                <div class="contact">
                    <div class="info">
                        <span class="material-symbols-outlined footer-material-symbols-outlined">
                            call
                        </span>
                        <a class="info-a" href="tel:+886-0800-000-000">0800-000-000</a>
                    </div>
                    <div class="info">
                        <span class="material-symbols-outlined footer-material-symbols-outlined">
                            mail
                        </span>
                        <a class="info-a" href="mailto:test@gamil.com">test@gamil.com</a>
                    </div>
                </div>
            </div>
            <ul class="social-media d-flex">
                <li><a href="#"><img class="footer-social-media"
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                            alt="fb"></a></li>
                <li><a href="#"><img class="footer-social-media"
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                            alt="ig"></a></li>
                <li><a href="#"><img class="footer-social-media"
                            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                            alt="line"></a></li>
            </ul>
            <!-- <div class="social-media">
                <img class="footer-social-media"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                    alt="fb">
                <img class="footer-social-media"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                    alt="ig">
                <img class="footer-social-media"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                    alt="line">
            </div> -->
        </div>
        <div class="copyright">
            <p class="copyright-p">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="copyright-content">
                <li class="copyright-content-item"><a class="copyright-content-a" href="#">隱私權政策</a></li>
                <li class="copyright-content-item"><a class="copyright-content-a" href="#">服務條款</a></li>
            </ul>

        </div>
    </div>
</div>