<nav class="narbar">
    <div class="container no-padding ">
        <div class="header">
            <a href="#"><img class="nav-logo"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                    alt="logo"></a>
            <ul class="narbar-right">
                <li class="narbar-item"><a class="narbar-a" href="#">系列鏡框</a></li>
                <li class="narbar-item"><a class="narbar-a" href="#">門市據點</a></li>
                <li class="narbar-item"><a class="narbar-a" href="#">部落格</a></li>
                <li class="narbar-item"><a class="narbar-a" href="#">常見問題</a></li>
            </ul>
        </div>
    </div>
</nav>
