@include phone{
  .container{
    max-width: 100%;
  }
}
.footer{
  background:#aa0601;
  padding-top: 48px;
  padding-bottom: 32px;
  @include phone{
      padding-top: 24px;
      padding-bottom: 24px;
  }
}
.nav-social-media{
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  @include phone {
      padding-bottom: 24px;
  }
}

.footer-nav-list{
  display: flex;
  margin-bottom: 36px;

  @include phone{
      display: none;

  }
}
.footer-nav-item{
  margin-right: 48px;
}
.footer-nav-a{
  font-size: 16px;
  color: white;
}
.footer-social-media{
  width: 48px;
  margin-left: 32px;
  @include pad{
    width: 40px;
    margin-left: 16px;
  }
  @include phone {
      width: 24px;
      margin-left: 8px;
  }
}
.footer-material-symbols-outlined{
  color: white;
  font-size: 36px;
  margin-right: 20px;
  @include phone {
      font-size: 18px;
      margin-right: 10px;
  }
}

.info{
  display: flex;
  margin-bottom: 8px;

}
.info-a{
  font-size: 32px;
  color: white;
  @include phone {
      font-size: 16px;
  }
}
.copyright{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 32px;
  @include phone {
      display: block;
      padding-top: 16px;
      
  }
}
.copyright-p{
  color:white;
  font-size: 16px;
  @include phone {
      margin-bottom: 8px;
  }
  
}
.copyright-content{
  display: flex;
  @include phone {
      display: block;
  }
}
.copyright-content-item{
  margin-left: 48px;
  @include phone {
      margin-left: 0px;
      margin-bottom: 8px;
  }
}

.copyright-content-a{
  color: white;
  font-size: 14px;
  @include phone {
      font-size:16px;

  }

}
.footer-social-media:hover{
  opacity: 0.7;
}